
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRequestStatusLogLabel">Create or edit a Request Status Log</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.requestStatusLog.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.requestStatusLog.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_note">Note</label>
            <input type="text" class="form-control" name="note" id="field_note"
                    ng-model="vm.requestStatusLog.note"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_statusFromDate">Status From Date</label>
                <div class="input-group">
                    <input id="field_statusFromDate" type="text" class="form-control" name="statusFromDate" datetime-picker="{{dateformat}}" ng-model="vm.requestStatusLog.statusFromDate" is-open="vm.datePickerOpenStatus.statusFromDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('statusFromDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.statusFromDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.statusFromDate.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.statusFromDate.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_statusChangeDate">Status Change Date</label>
                <div class="input-group">
                    <input id="field_statusChangeDate" type="text" class="form-control" name="statusChangeDate" datetime-picker="{{dateformat}}" ng-model="vm.requestStatusLog.statusChangeDate" is-open="vm.datePickerOpenStatus.statusChangeDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('statusChangeDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.statusChangeDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.statusChangeDate.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.statusChangeDate.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
